//= require graph.css

$white:  #fff;
$light:  #eee;
$mid:    #BCBCBC;
$dark:   #424242;
$black:  #000;
$accent: #000;

* {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: $dark;
}

body {
  background-color: $white;
}

a {
  color: $accent;
}

.clear {
  clear: both;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.navigation {
  background-color: $light;
  background-image: url('/images/furley_bg.png');
  background-repeat: repeat;
  padding: 25px 20px;

  a {
    color: $accent;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: $dark;
    }
  }

  ul {
    float: right;
    margin: -3px 0 0 0;

    li {
      list-style-type: none;
      float: left;
      padding: 5px 20px;
      border-right: 2px solid $mid;

      a {
        font-size: 14px;
        color: $dark;

        &:hover {
          color: $accent;
        }
      }
    }

    li.last {
      border: 0;
    }
  }
}

.secondary {
  padding: 20px 0;
  background-color: $black;
  background-image: url('/images/px.png');
  background-repeat: repeat;

  h1 {
    color: $light;
    font-weight: 100;
    float: left;

    strong {
      text-transform: uppercase;
      display: block;
      font-size: 12px;

      a {
        color: #999;
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .main {
    color: $light;
    float: left;
    margin-left: 30px;

    ul {
      margin: 0;
      padding: 0;
      -moz-column-count: 2;
      -webkit-columns: 2;
      -moz-column-width: 100px;
      -webkit-column-width: 100px;
      height: 125px;

      li {
        list-style-type: none;
        padding: 4px 0;
        -webkit-font-smoothing: antialiased;

        a {
          color: $light;
          font-size: 12px;
          text-decoration: none;

          &:hover {
            color: $mid;
          }
        }
      }

      span {
        display: none;
      }
    }
  }
}

.content {
  width: 900px;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 50px;

  p {
    line-height: 1.4em;
  }

  .crumb {
    margin-bottom: 50px;

    a {
      text-decoration: none;
    }
  }

  #visual {
    h2 {
      margin: 0;
      font-size: 30px;

      a {
        text-decoration: none;
      }
    }

    h3 {
      font-size: 18px;
      font-weight: normal;
      padding-top: 25px;
    }

    .name {
      font-size: 16px;

      a {
        text-decoration: none;
      }
    }
  }
}