$light:  #fff;
$mid:    #eee;
$dark:   #515151;
$accent: #00B4FF;

* {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: $dark;
}

body {
  background-color: $light;
}

a {
  color: $accent;
}

.navigation {
  background-color: $mid;
  padding: 10px 20px;
  border-bottom: 1px solid $light;
  box-shadow: 0px 2px 5px #ccc;

  a {
    color: $accent;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;

    &:hover {
      color: $dark;
    }
  }
}

.content {
  width: 900px;
  margin: 0 auto;
  font-size: 20px;

  h1 {
    color: $dark;
  }

  p {
    line-height: 1.4em;
  }

  .selector {
    float: left;
    width: 250px;
    list-style-type: none;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0;

    li {
      padding: 5px 10px;
      border-bottom: 1px solid $mid;
      font-size: 10px;

      a {
        color: #555;
        text-decoration: none;
      }

      strong {
        font-size: 14px;
        text-transform: capitalize;
        display: block;
      }
    }
  }

  #visual {
    margin-left: 280px;

    h2 {
      margin: 0;
      padding-top: 50px;
      padding-left: 25px;
      font-size: 30px;

      a {
        text-decoration: none;
      }
    }

    .name {
      font-size: 16px;
      font-weight: bold;
      padding-left: 25px;

        a {
          text-decoration: none;
        }
    }
  }
}

.full {
  width: 100%;
  margin: 0;

  h1 {
    display: none;
  }
}