.graph {
  margin-top: 30px;

  ul {
    width: 200px;
    height: 150px;
    margin: 0 20px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid #ccc;
    float: left;

    li {
      padding: 0 10px 0 0;
      font-size: 12px;
      font-weight: bold;
      list-style-type: none;
      text-align: right;
      color: #999;

      &:hover {
        color: #00B4FF;
        cursor: pointer;
      }
    }
  }

  svg {
    height: 150px;
    width: 350px;

    rect {
      fill: #00B4FF;
    }
  }
}