.graph {
  background-color: #eee;
  background-image: url('/images/furley_bg.png');
  background-repeat: repeat;
  padding: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  ul {
    clear: both;
    margin: 0 0 -15px 0;
    padding: 0;

    li {
      margin-right: 10px;
      padding: 0 15px 0 0;
      font-size: 12px;
      font-weight: bold;
      list-style-type: none;
      display: inline;
      border-right: 2px solid #ccc;
      color: #424242;
      text-transform: uppercase;

      &:hover {
        color: #00B4FF;
        cursor: pointer;
      }
    }

    li:last-child {
      border: 0;
    }
  }

  svg {
    height: 100px;
    width: 400px;

    rect {
      fill: #424242;

      &:hover {
        cursor: pointer;
        fill: #000;
      }
    }
  }

  .info, .minor {
    float: right;
    margin-top: 25px;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
  }

  .minor {
    clear: both;
    margin-top: -5px;
    font-size: 12px;
    font-weight: 100;
    color: #999;
  }
}