<ul class="selector">
  {{#probes}}
    <li>
      <a href="/projects/{{project_id}}/{{name}}" data-pjax="#visual">
        <strong>{{name}}</strong>
        <span>{{description}}</span>
      </a>
    </li>
  {{/probes}}
</ul>