<h3>codestat.us is dead</h3>

<p>So it was a noble experiment. Noble experiments are sometimes losers, though, and pffft who needs losers.</p>

<p>You can still <a href="https://github.com/holman/hopper">get the code</a> for Hopper, the underlying library that powers codestat.us.</p>

<p>You can also <a href="http://zachholman.com/talk/aggressively-probing-ruby-projects">watch my talk</a> that introduces codestat.us.</p>

<p>Carry on.</p>

<p><a href="https://twitter.com/holman">@holman</a></p>