<p>Hopper is a <strong>Ruby community analysis</strong> site. Its goal is to
   churn through tens of thousands of Ruby projects and come up with insightful,
   meaningful observations about what makes a good Ruby project.</p>

<p>You might be interested in reading
   <a href="http://zachholman.com/posts/hopper">a blog post and talk</a> about
   Hopper, or you might be interested in
   <a href="https://github.com/holman/hopper">seeing the code</a> for yourself.
</p>