<p>Hopper is a Redis-backed Sinatra app. Its purpose is to churn through a pile
   of repository links, download them, and run a bunch of Probes on it.</p>

<p>A <b>Probe</b> is an analysis of a particular aspect of the project.
   Internally, each specific probe inherits from the Probe class, which is a
   standard interface that we can access to run all of these probes. An example
   might be an LOC Probe, which counts the lines of code in a project.</p>

<p>Probes are kicked off... somehow.</p>

<p>Reporting is all done via the web app. This is where all of the adorable
   graphs and pretty statistics get gathered.</p>