<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/base.css">
  <script type="text/javascript" src="/js/application.js"></script>

  <title>Hopper</title>
</head>

<body>
  {{{ yield }}}
</body>

</html>