<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/base.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>

  <title>Hopper</title>
</head>

<body>
  <section class="navigation">
    <div class="wrapper">
      <a href="/">Hopper</a>

      <ul>
        <li><a href="/projects">Projects</a></li>
        <li class="last"><a href="/probes">Probes</a></li>
      </ul>
    </div>
  </section>

  <section class="secondary">
    <div class="wrapper">
      <h1>
        <strong>{{{section_link}}}</strong>
        {{title}}
      </h1>

      <div class="main">
        {{{secondaries}}}
      </div>

      <br class="clear">
    </div>
  </section>

  <section class="content">
    {{{yield}}}
  </section>
</body>

</html>