<section id="visual">

  <section class="numbers">
    {{#metrics}}
      <strong>{{name}}</strong>
      <ul>
        <li>Mean: {{mean}}</li>
        <li>Median: {{median}}</li>
        <li>Mode: {{mode}}</li>
      </ul>
    {{/metrics}}

    <p><a href="/probes/{{name}}/raw">Raw</a></p>
  </section>
</section>
