<ul class="selector">
  {{#probes}}
    <li>
      <strong>{{name}}</strong>
      {{description}}
    </li>
  {{/probes}}
</ul>

<section class="visual">
  {{#project}}
    <h2><a href="{{url}}">{{url}}</a></h2>
  {{/project}}
</section>