<ul class="selector">
  {{#probes}}
    <li>
      <strong>{{name}}</strong>
      {{description}}
    </li>
  {{/probes}}
</ul>

<section class="visual">
  {{#project}}
    <a href="{{url}}">{{url}}</a>
  {{/project}}
</section>