<section class="crumb">
  <a href="{{project_url}}">{{project_name}}</a>
</section>

<section id="visual">
  <section class="graph">
    <div class="info">
      An Info
      <div class="minor">minor</div>
    </div>

    <ul>
    {{#data}}
      <li data-values="{{#values}}{{.}} {{/values}}">{{name}}</li>
    {{/data}}
    </ul>
  </section>
</section>